footer {
    display: flex;
    flex-direction:column;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#ff8800, rgb(238, 6, 6));
    height: 80px;
    padding: 60px 0px;
}